<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
       <add key="WeatherFilePath" value="..\..\Data\Weather.txt" />
       <add key="HighTemperatureInFahrenheit" value="85" />
       <add key="HighTemperatureInFahrenheit" value="70" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>